In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("spam_or_not_spam.csv", encoding="latin-1")

In [4]:
df.shape

(3000, 2)

In [5]:
df.head()

                                               email  label
0   date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1  martin a posted tassos papadopoulos the greek ...      0
2  man threatens explosion in moscow thursday aug...      0
3  klez the virus that won t die already the most...      0
4   in adding cream to spaghetti carbonara which ...      0

In [6]:
df.columns

Index(['email', 'label'], dtype='str')

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df = df[['v1', 'v2']]
df.columns = ['label', 'message']

In [ ]:
df.head()